In [1]:
import sqlalchemy as sa

In [3]:
kylin_engine = sa.create_engine('kylin://ADMIN:KYLIN@192.168.0.10:7070/learn_kylin')

In [4]:
%load_ext sql

%config SqlMagic.autocommit=False

In [5]:
%sql kylin://ADMIN:KYLIN@192.168.0.10:7070/learn_kylin

In [8]:
%%sql
select SELLER_ID, sum(price)
from KYLIN_SALES
join KYLIN_CAL_DT
on KYLIN_SALES.PART_DT = KYLIN_CAL_DT.CAL_DT
group by KYLIN_SALES.SELLER_ID
limit 10

 * kylin://ADMIN:***@192.168.0.10:7070/learn_kylin
10 rows affected.

[(10000090, 12.3706),
 (10000028, 76.1393),
 (10000076, 13.7727),
 (10000015, 76.301),
 (10000095, 84.8759),
 (10000033, 87.7727),
 (10000148, 96.5984),
 (10000165, 55.1963),
 (10000054, 22.8941),
 (10000119, 21.5215)]